/*------------Basic Styles-------------*/

* {
  box-sizing: border-box;
}

body {
  background: #29373B
}


/*----------Layout Containers----------*/

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*margin-left: 2em;*/
}

/*---------------search---------------*/

.search-box {
  width: 50%;
  margin-top: 2.6em;
  margin-bottom: 2.6em;
}

#myInput {
  background: #29373B;
  color: #E8FAFF;
  font-size: 1em;
  width: 100%;
  padding: .5em;
  border: none;
  border-bottom: .3em solid #E8FAFF;

}

#myInput::placeholder {
  color: #E8FAFF;
  font-style: italic;
  opacity: .5;
}

#myInput:focus {
  outline: none;
  border-bottom: .3em solid #E8FAFF;

}

/*----------Gallery Box----------*/

.gallery-box {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  width: 100%;
  margin: auto;
}
  .wrap {
    width: 100%;
    margin: auto;
  }
/*-------Gallery Zoom-----------*/
  .lg-backdrop.in {
    opacity: .7;
  }
.lg-sub-html {
  font-size: 1.1em;
  background-color: rgba(0,0,0,0);
  bottom: 7%;
}

  /*----------Thumbnail Styles----------*/

  .gallery-box a {
    margin: 2%;
  }
  .gallery-box a img {
    box-shadow: 0px 10px 20px -5px rgba(0, 0, 0, .8);
  }
  /*----------media queries------------*/
  /*
@media (min-width:414px) {
  .wrap {
    width: 100%;
  }
/*/
@media (min-width:768px) {
  .wrap {
    width: 95%;
  }

  #myInput {
    font-size: 1.5em;
  }
  .search-box {
    width: 50%;
  }

  /*.gallery-box {
    justify-content: space-between;
  }*/
}


@media (min-width:1024px) {
  .wrap {
    width: 90%;

  }
}

@media (min-width:1280px) {
  .wrap {
    width: 85%;

  }
}

@media (min-width:1440px) {
  .wrap {
    width: 75%;

  }
}

@media (min-width:1600px) {
  .wrap {
    width: 65%;

  }
}
